# DEPENDENCIES
/node_modules

# TESTING
/coverage

# NEXT.JS
/.next/
/out/

# PRODUCTION
/build

# MISC
.DS_Store
*.pem

# DEBUG
npm-debug.log*

# ENV FILES
.env*

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts
